/* Formulário */
#calc-container h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: #ccc;
}

.form-control input {
    padding: 1rem .5rem;
}

/* Ações e botões */
.function-control {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #f44236;
    border: none;
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
}

button:hover {
    opacity: 1;
}

/* Ações dos resultados */
#clear-btn {
    background-color: #444;
}

.good {
    color: #12db34;
}

.low {
    color: #dbce12;
}

.medium {
    color: #db6212;
}

.high {
    color: #db1912;
}