/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background: linear-gradient(180deg, #1D5D9B 0%, #75C2F6 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ccc;
}

/* Containers */
.hide {
    display: none !important;
}

.container {
    min-width: 400px;
    min-height: 400px;
    border-radius: 50px;
    background-color: #116D6E;
    padding: 2rem;
}